<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar Imagenes</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Lista de Imagenes</h1>
   <div th:if="${#lists.isEmpty(imagenes)}">
         No hay imagenes en la base de datos
   </div>
   <table th:unless="${#lists.isEmpty(imagenes)}" class="table table-striped">
     <thead>
       <tr>
         <th>idImagen</th>
         <th>Imagen</th>
         <th>idActividad</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="imagen: ${imagenes}"> 
         <td th:text="${imagen.idImagen}"></td>
         <td th:text="${imagen.imagen}"></td>
         <td th:text="${imagen.idActividad}"></td>
         <td><a th:href="@{/imagen/update/{idImagen}(idImagen=${imagen.idImagen})}" class="btn btn-warning">Editar</a></td>
         <td><a th:href="@{/imagen/delete/{idImagen}(idImagen=${imagen.idImagen})}" class="btn btn-danger">Borrar</a></td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success">Añadir imagen</a> 
</body>
</html>
