<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modificar una imagen</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Editar imagen</h2>
    <form action="#" th:action="@{/imagen/update/{idImagen}(idImagen=${imagen.idImagen})}"
                     th:object="${imagen}" method="post">
      <table>
        <tr>
            <td><label>idImagen</label></td>
            <td><input type="number" th:field="*{idImagen}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label>imagen</label></td>
            <td><input type="text" th:field="*{imagen}" /></td>
        </tr>
        <tr>
            <td><label>idActividad</label></td>
            <td><input type="number" th:field="*{idActividad}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar imagen" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
