<!DOCTYPE html>
<html layout:decorate="~{fragments/cliente/base}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/base.css"
	th:href="@{/css/base.css}" />
<meta charset="UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
	<div layout:fragment="content"></br>
		<div><h2>Nueva reserva</h2></div>
		<form action="#" th:action="@{/reserva/añadirReserva}" th:object="${reserva}" method="post" enctype="multipart/form-data"
			id="reservaform">
			<table>
				<tr>
					<th><label>Fecha:</label></th>
					<td><input type="date" th:value="${reserva.fecha}" disabled></td>
				</tr>
				<tr>
					<th><label>Precio por persona:</label></th>
					<td><input type="number" th:value="${reserva.precioPorPersona}" disabled></td>
				</tr>
				<tr>
					<th><label>Número de asistentes:</label></th>
					<td><input type="number" name="nPersonas" /></td>
				<tr>
					<td class="submit" colspan="2"><input type="submit"
						value="Reservar" class="btn btn-success" /></td>
				</tr>
				<td><input type="hidden" th:field="*{idActividad}"></td>
				<td><input type="hidden" th:field="*{fecha}"></td>
				<td><input type="hidden" th:field="*{precioPorPersona}"></td>
			</table>
		</form>
	</div>
</body>
</html>
