<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modificar una Reserva</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Editar Reserva</h2>
    <form action="#" th:action="@{/reserva/update/{idReserva}(idReserva=${reserva.idReserva})}"
                     th:object="${reserva}" method="post">
      <table>
        <tr>
            <td><label>idReserva</label></td>
            <td><input type="number" th:field="*{idReserva}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label>EstadoPago</label></td>
            <td><select class="form_control" type="text" th:field="*{estadoPago}" >
					<option value="pendiente">Pendiente</option>
					<option value="pagado">Pagado</option>
		    	</select>
        </tr>
        <tr>
            <td><label>NumTransaccion</label></td>
            <td><input type="number" th:field="*{numTransaccion}" /></td>
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}" /></td>
        </tr>
        <tr>
            <td><label>NumAsistentes</label></td>
            <td><input type="number" th:field="*{numAsistentes}" /></td>
        </tr>
        <tr>
            <td><label>PrecioPorPersona</label></td>
            <td><input type="number" step=".01" th:field="*{precioPorPersona}" /></td>
        </tr>
        <tr>
            <td><label>idActividad</label></td>
            <td><input type="number" th:field="*{idActividad}" /></td>
        </tr>
        <tr>
            <td><label>idCliente</label></td>
            <td><input type="text" th:field="*{idCliente}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar Reserva" /></td>
        </tr>
      </table>
    </form>
</body>
</html>