<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gestionar ofertas</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<h1>Lista de Ofertas</h1>
	<div th:if="${#lists.isEmpty(ofertas)}">No hay Ofertas en la base
		de datos</div>
	<table th:unless="${#lists.isEmpty(ofertas)}"
		class="table table-striped">
		<thead>
			<tr>
				<th>idInstructor</th>
				<th>idActividad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="oferta: ${ofertas}">
				<td th:text="${oferta.idInstructor}"></td>
				<td th:text="${oferta.idActividad}"></td>
				<td><a
					th:href="@{/oferta/delete/{idInstructor}/{idActividad}(idInstructor=${oferta.idInstructor}, idActividad=${oferta.idActividad})}"
					class="btn btn-danger">Borrar</a></td>
			</tr>
		</tbody>
	</table>
	<a href="add" class="btn btn-success">Añadir Oferta</a>
</body>
</html>