<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- app css  -->
<link th:href="@{/css/base.css}" href="/css/base.css" rel="stylesheet" />

<!-- Optional links -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">



<title layout:title-pattern="$CONTENT_TITLE">TooPots</title>
</head>

<!-- <body class="container"> -->
<body>
	<!-- Header -->
	<header th:object="${session}">
<!-- 	<div th:replace="fragments/cliente/nav"></div> -->
		<div th:switch="*{user.rol}">
			  <div th:case="'cliente'">
			  	<div th:replace="fragments/cliente/nav"></div>
			  </div>
			  <div th:case="'administrador'">
			  	<div th:replace="fragments/admin/nav"></div>
			  </div>
			  <div th:case="*">
			  	<div th:replace="fragments/nav"></div>
			  </div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Breadcrumb -->
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: grey; height: 50px;">
	</nav>

	<!-- Contenido -->
	<div layout:fragment="content">
		
	</div>
	<!-- /Contenido -->
	
	<!-- Footer -->
	<!-- TODO: Quizás cambiar esta línea -->
<!-- 	<footer id="footer"> -->
	<footer id="footer" class="fixed-bottom">
		<div class="container">
			<div class="row text-muted text-center">
				<div class="col-12 col-lg">Proyecto para la asignatura EI1027
					- Curso 18/19</div>
			</div>
		</div>
	</footer>
	<!-- /Footer -->
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	
	<th:block layout:fragment="script"></th:block>
</body>
</html>