<!DOCTYPE html>
<html layout:decorate="~{fragments/base}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/estilos-admin.css"
	th:href="@{/css/estilos-admin.css}" />
<link rel="stylesheet" type="text/css" href="/css/estilos-tabla.css"
	th:href="@{/css/estilos-tabla.css}" />
	
<style>
.tbl-header th:last-child {
    width: auto;
}
</style>
<title>Actividades</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Main -->
		<div id="main">
			<div class="container">
				<div>
					<div class="titulo_form">
						<header class="table-header">
							<span class="header-title">Actividades</span>
						</header>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="body-wrapper">
								<div th:if="${actividades.isEmpty()}" class="empty">No hay actividades disponibles</div>
								<table class="table table-hover">
									<thead th:if="${!actividades.isEmpty()}" class="tbl-header">
										<tr>
											<th scope="col">Nombre</th>
											<th class="text-center" scope="col">Tipo Actividad</th>
											<th class="text-center" scope="col">Instructor</th>
											<th class="text-center" scope="col">Asistentes</th>
											<th class="text-center" scope="col">Precio</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="actividad: ${#lists.sort(actividades.keySet())}">
											<th scope="row">
												<a th:href="@{/admin/actividad/{idActividad}(idActividad=${actividad.idActividad})}">
													<span th:text="${actividad.nombre}"></span>
												</a>
											</th>
											<td th:text="${actividades.get(actividad)[0].nombre + ' - ' + actividades.get(actividad)[0].nivel}" class="text-center text-capitalize"></td>
											<td class="text-center">
												<a th:href="@{/admin/instructor/{idInstructor}(idInstructor=${actividades.get(actividad)[1].idInstructor})}">
													<span th:text="${actividades.get(actividad)[1].nombre}"></span>
												</a>
											</td>
											<td th:text="${actividades.get(actividad)[2] + '/' + actividad.maxAsistentes}" class="text-center"></td>
											<td th:text="${#numbers.formatDecimal(actividad.precio, 0, 2)}+ €" class="text-center"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Main -->
	</div>
</body>
</html>