<!DOCTYPE html>
<html layout:decorate="~{fragments/base}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/estilos-admin.css"
	th:href="@{/css/estilos-admin.css}" />
<link rel="stylesheet" type="text/css" href="/css/estilos-tabla.css"
	th:href="@{/css/estilos-tabla.css}" />
<style>
.tbl-header th:last-child {
    width: auto;
}
</style>
<title>Clientes</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Main -->
		<div id="main">
			<div class="container">
				<div>
					<div class="titulo_form">
						<header class="table-header">
							<span class="header-title">Clientes</span>
						</header>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="body-wrapper">
								<div class="empty" th:if="${#lists.isEmpty(clientes)}">No hay clientes registrados en la aplicación</div>
								<table th:unless="${#lists.isEmpty(clientes)}" class="table table-hover">
									<thead class="tbl-header">
										<tr>
											<th scope="col">Nombre</th>
											<th class="text-center" scope="col">DNI</th>
											<th class="text-center" scope="col">Dirección de correo</th>
											<th class="text-center" scope="col">Fecha de nacimiento</th>
											<th class="text-center" scope="col">Sexo</th>
										</tr>
									</thead>
									<tbody>
										<!-- Ordenar las solicitudes por fecha -->
										<tr th:each="cliente: ${#lists.sort(clientes)}">
											<th th:text="${cliente.nombre}" scope="row"></th>
											<td th:text="${cliente.idCliente}" class="text-center"></td>
											<td th:text="${cliente.email}" class="text-center"></td>
											<td th:text="${#temporals.format(cliente.fechaNacimiento, 'dd/MM/yyyy')}" class="text-center"></td>
											<td th:if="${cliente.sexo == 'F'}" class="text-center">Mujer</td>
											<td th:if="${cliente.sexo == 'M'}" class="text-center">Hombre</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Main -->
	</div>
</body>
</html>