<!DOCTYPE html>
<html layout:decorate="~{fragments/base}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/estilos-admin.css"
	th:href="@{/css/estilos-admin.css}" />
<link rel="stylesheet" type="text/css" href="/css/estilos-tabla.css"
	th:href="@{/css/estilos-tabla.css}" />
<title>TooPots - Tipos de Actividad</title>
<style>

.add-tipo {
	padding-top: 6px;
	float: right;
}

.add-tipo:hover {
	text-decoration: none;
}

.color-svg {
    fill: #7df68b;
}

tbody>tr>th, td {
	text-transform: capitalize;
}

.tbl-header th:last-child {
	width: 250px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="titulo_form">
					<header class="table-header">
						<span class="header-title">Tipos de Actividad</span> <a
							class="add-tipo" href="/admin/tiposActividad/add"> <span class="link-icon"> <svg
									aria-hidden="true" focusable="false" width="20" height="20"
									data-prefix="fas" data-icon="plus-square"
									class="svg-inline--fa fa-plus-square fa-w-14" role="img"
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path class="color-svg"
										d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-32 252c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92H92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z">
                                        </path>
                                    </svg>
						</span> <span class="link-text"> Añadir Tipo de Actividad </span>
						</a>
					</header>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="body-wrapper">
							<div class="empty" th:if="${#lists.isEmpty(tipoActividades)}">No
								hay ningún tipo de actividad registrado</div>
							<!-- TODO: Modificar la condicion -->
							<table th:unless="${#lists.isEmpty(tipoActividades)}"
								class="table table-hover">
								<thead class="tbl-header">
									<tr>
										<th scope="col">Nombre</th>
										<th class="text-center">Nivel</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="tipoActividad: ${tipoActividades}">
										<th th:text="${tipoActividad.nombre}" scope="row"></th>
										<td th:text="${tipoActividad.nivel}" class="text-center"></td>
										<td><a href="#" class="open-modal btn btn-danger"
											data-toggle="modal" data-target="#modal-borrar"
											th:attr="data-target='#modal-borrar'+${tipoActividad.idTipoActividad}">Borrar</a></td>

										<!-- Modal -->
										<div class="modal fade" tabindex="-1" role="dialog"
											aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
											th:id="modal-borrar+${tipoActividad.idTipoActividad }">
											<div class="modal-dialog modal-dialog-centered"
												role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalCenterTitle">Borrar
															Tipo de Actividad</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
															¿Estás seguro de que quieres borrar el tipo de actividad
															"<span
																style="font-weight: bold; text-transform: capitalize;"
																th:text="${tipoActividad.nombre}"></span>" con nivel de
															dificultad "<span
																style="font-weight: bold; text-transform: capitalize;"
																th:text="${tipoActividad.nivel}"></span>"?.
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">No</button>
														<a
															th:href="@{/tipoActividad/delete/{idTipoActividad}(idTipoActividad=${tipoActividad.idTipoActividad})}"
															class="btn btn-danger"> Si </a>
													</div>
												</div>
											</div>
											<!-- /Modal -->
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Main -->
	</div>
</body>
</html>