<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gestionar actividades acreditadas</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<h1>Lista de Acreditaciones</h1>
	<div th:if="${#lists.isEmpty(acreditas)}">No hay Acreditaciones
		en la base de datos</div>
	<table th:unless="${#lists.isEmpty(acreditas)}"
		class="table table-striped">
		<thead>
			<tr>
				<th>idTipoActividad</th>
				<th>idAcreditacion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="acredita: ${acreditas}">
				<td th:text="${acredita.idTipoActividad}"></td>
				<td th:text="${acredita.idAcreditacion}"></td>
				<td><a
					th:href="@{/acredita/delete/{idTipoActividad}/{idAcreditacion}(idTipoActividad=${acredita.idTipoActividad}, idAcreditacion=${acredita.idAcreditacion})}"
					class="btn btn-danger">Borrar</a></td>
			</tr>
		</tbody>
	</table>
	<a href="add" class="btn btn-success">Añadir Acreditacion</a>
</body>
</html>