<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar Comentarios</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Lista de Comentarios</h1>
   <div th:if="${#lists.isEmpty(comentarios)}">
         No hay comentarios en la base de datos
   </div>
   <table th:unless="${#lists.isEmpty(comentarios)}" class="table table-striped">
     <thead>
       <tr>
         <th>idComentario</th>
         <th>Comentario</th>
         <th>Valoracion</th>
         <th>idCliente</th>
         <th>idActividad</th>
         <th>idInstructor</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="comentario: ${comentarios}"> 
         <td th:text="${comentario.idImagen}"></td>
         <td th:text="${comentario.comentario}"></td>
         <td th:text="${comentario.valoracion}"></td>
         <td th:text="${comentario.idCliente}"></td>
         <td th:text="${comentario.idActividad}"></td>
         <td th:text="${comentario.idInstructor}"></td>
         <td><a th:href="@{/comentario/update/{idComentario}(idComentario=${comentario.idComentario})}" class="btn btn-warning">Editar</a></td>
         <td><a th:href="@{/comentario/delete/{idComentario}(idComentario=${comentario.idComentario})}" class="btn btn-danger">Borrar</a></td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success">Añadir comentario</a> 
</body>
</html>
