<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modificar un comentario</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Editar comentario</h2>
    <form action="#" th:action="@{/comentario/update/{idComentario}(idComentario=${comentario.idComentario})}"
                     th:object="${comentario}" method="post">
      <table>
        <tr>
            <td><label>idComentario</label></td>
            <td><input type="number" th:field="*{idComentario}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label>Comentario</label></td>
            <td>
            	<textarea rows="4" cols="50" th:field="*{comentario}">
            	</textarea>
		    </td>
        </tr>
        <tr>
            <td><label>Valoracion</label></td>
            <td><input type="number" th:field="*{valoracion}" /></td>
        </tr>
        <tr>
            <td><label>idCliente</label></td>
            <td><input type="text" th:field="*{idCliente}" /></td>
        </tr>
        <tr>
            <td><label>idActividad</label></td>
            <td><input type="text"  th:field="*{idActividad}" /></td>
        </tr>
        <tr>
            <td><label>idInstructor</label></td>
            <td><input type="text" th:field="*{idInstructor}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar comentario" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
