<!DOCTYPE html>
<html layout:decorate="~{fragments/base}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/estilos-tabla.css"
	th:href="@{/css/estilos-tabla.css}" />
<title>Mis Actividades</title>
<style>
body {
	background-color: #f0f0f0;
}

#main {
	margin-top: 30px;
	margin-bottom: 30px;
}

.add-actividad {
	padding-top: 6px;
	float: right;
}

.add-actividad:hover {
	text-decoration: none;
}

.color-svg {
    fill: #7df68b;
}

tbody > tr > th, td {
	text-transform: capitalize;
}

.tbl-header th:last-child {
	width: 250px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Main -->
		<div id="main">
			<div class="container">
			<div th:class="${'alert ' + alertClass}" role="alert" th:if="${message}" th:text="${message}"></div>
				<div th:if="${#lists.isEmpty(actividades)}">No has creado ninguna actividad</div>
				<div th:unless="${#lists.isEmpty(actividades)}">
					<div class="titulo_form">
						<header class="table-header">
							<span class="header-title">Mis Actividades</span>
							<a class="add-actividad" href="actividad/add">
								<span class="link-icon">
									<svg aria-hidden="true" focusable="false" width="20" height="20" data-prefix="fas" data-icon="plus-square" class="svg-inline--fa fa-plus-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path class="color-svg" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-32 252c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92H92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z">
                                        </path>
                                    </svg>
								</span>
								<span class="link-text">Añadir Actividad</span>	
							</a>
						</header>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="body-wrapper">
							<table class="table table-hover">
								<thead class="tbl-header">
									<tr>
										<th scope="col">Nombre</th>
										<th class="text-center">Fecha y Hora</th>
										<th class="text-center">Estado</th>
										<th class="text-center">Min. Asistentes</th>
										<th class="text-center">Asistentes</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody >
									<tr th:each="actividad: ${#lists.sort(actividades.keySet())}" th:if="${actividad.estado == 'abierta'}">
										<th th:text="${actividad.nombre}" scope="row"></th>
										<td class="text-center" th:text="${#temporals.format(actividad.fecha, 'dd/MM/yyyy')} + ' ' + ${{actividad.horaDeEncuentro}}"></td>
										<td th:text="${actividad.estado}" class="text-center"></td>
										<td th:text="${actividad.minAsistentes}" class="text-center"></td>
										<td
											th:text="${actividades.get(actividad) + '/'+ actividad.maxAsistentes}"
											class="text-center"></td>
										<td><a th:if="${actividad.estado != 'cancelada'}"
											th:href="@{/instructor/actividad/{idActividad}(idActividad=${actividad.idActividad})}"
											class="btn btn-primary">Más Info</a>
											<a th:if="${actividad.estado != 'cancelada'}" href="#" class="open-modal btn btn-danger"
											data-toggle="modal" data-target="#modal-cancelar"
											th:attr="data-target='#modal-cancelar'+${actividad.idActividad}">Cancelar</a>

										<!-- Modal -->
										<div class="modal fade" tabindex="-1" role="dialog"
											aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
											th:id="modal-cancelar+${actividad.idActividad }">
											<div class="modal-dialog modal-dialog-centered"
												role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalCenterTitle">Cancelar
															Reserva</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
															<div class="body-wrapper" th:if="${actividad.estado != 'cancelada'}">
															¿Estás seguro de que quieres cancelar la
															actividad "<span
																style="font-weight: bold; text-transform: capitalize;"
																th:text="${actividad.nombre}"></span>" con
															fecha "<span
																style="font-weight: bold; text-transform: capitalize;"
																th:text="${#temporals.format(actividad.fecha, 'dd/MM/yyyy')}"></span>"
															y hora "<span
																style="font-weight: bold; text-transform: capitalize;"
																th:text="${{actividad.horaDeEncuentro}}"></span>"?.
															</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">No</button>
														<a th:if="${actividad.estado != 'cancelada'}"
															th:href="@{/actividad/cancelar/{idActividad}(idActividad=${actividad.idActividad})}"
															class="btn btn-danger"> Si </a>
												</div>
											</div>
										</div>
										<!-- /Modal -->
									</tr>
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Main -->
	</div>
</body>
</html>