<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nuevo instructor</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nuevo Instructor</h2>
    <form action="#" th:action="@{/instructor/add}"
                     th:object="${instructor}" method="post">
      <table>
        <tr>
            <td><label>idInstructor</label></td>
            <td><input type="text" th:field="*{idInstructor}" /></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{estado}" >
					<option value="aceptada">Aceptada</option>
					<option value="rechazada">Rechazada</option>
					<option value="pendiente">Pendiente</option>
		    	</select>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Iban</label></td>
            <td><input type="text" th:field="*{iban}" /></td>
        </tr>
        <tr>
            <td><label>Foto</label></td>
            <td><input type="text" th:field="*{foto}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir Instructor" /></td>
        </tr>
      </table>
    </form>
</body>
</html>