<!DOCTYPE html>
<html layout:decorate="~{fragments/base}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<style>
body {
	background-color: #f0f0f0;
}

#main {
	margin-top: 30px;
	margin-bottom: 30px;
}

.card-img-top {
	max-width: 100%;
}

.card-title {
	text-transform: capitalize;
}

.inf-actividad {
	list-style-type: none;
}
</style>
<script type="text/javascript">
	$(document).on("click", ".open-compra", function() {
		var myActivityId = $(this).data('id');
		$(".modal-body #idActividad").val(myActivityId);
	});
</script>
</head>

<body>
	<div id="main" layout:fragment="content">
		<section class="mt-4 mb-4">
			<div class="container">
				<!-- Main -->
				<div th:if="${#lists.isEmpty(actividades)}">No hay actividades</div>
				<div th:unless="${#lists.isEmpty(actividades)}">
					<div class="titulo_form">
						<!-- 					<h2>Lista de actividades</h2> -->
					</div>
				</div>
				<div th:class="${'alert ' + alertClass}" role="alert" th:if="${message}" th:text="${message}"></div>
				<div class="row">
					<div th:each="actividad: ${actividades}"
						class="col-12 col-md-4 mb-5">
						<div class="card">
							<img class="card-img-top" src="assets/paracaidismo.jpg"
								height="200" alt="imagen-actividad">
							<div class="card-body">
								<h5 th:text="${actividad.nombre}" class="card-title text-center"></h5>
								<!-- Podria utilizarse un Collapse -->
								<!-- TODO: Añadir el resto de información -->
								<p class="card-text">
								<ul class="inf-actividad">
									<li><span>Nº de plazas: </span><span
										th:text="${actividad.maxAsistentes}"></span></li>
									<li>
										<span>Instructor: </span><span th:text="${actividad.idInstructor}"></span>
									</li>
									<li>
										<span>Lugar de encuentro: </span><span
										th:text="${actividad.lugar}"></span>
									</li>
									<li>
										<span>Fecha y Hora: </span><span
										th:text="${actividad.fecha}"></span>
										<span th:text="${actividad.horaDeEncuentro}"></span>
									</li>
								</ul>
								</p>
								<div class="text-center">
									<a href="#" id="addReserva" class="open-compra btn btn-success"
										data-toggle="modal"
										data-target="#modalCompra"
										th:data-id="${actividad.idActividad}">Reservar</a>
								</div>
							</div>
						</div>
						<!-- Modal -->
						<div class="modal fade" id="modalCompra" tabindex="-1"
							role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalCenterTitle">Confirmar
											Reserva</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form action="#" th:action="@{/reserva/anadirReserva}"
											th:object="${reserva}" method="post">
											<div class="form-row justify-content-center">
												<div class="form-group">
													<input type="hidden" name="idActividad" id="idActividad"/>
												</div>
												<div class="form-group">
													<!-- 									TODO: Ajustar al número de plazas disponibles -->
													<label for="numTickets">Número de tickets:</label> <select
														name="nPersonas" class="form-control" id="numTickets">
														<option value=1>1</option>
														<option value=2>2</option>
														<option value=3>3</option>
														<option value=4>4</option>
														<option value=5>5</option>
													</select>
												</div>
												<div class="mt-2 mb-2">
													<small>Al hacer click en Reservar se le
														redireccionará a una pasarela de pago donde podrá
														continuar con la compra de sus tickets. </small>
												</div>
											</div>
											<div class="pt-2 text-right">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Cancelar</button>
												<input class="btn btn-success" type="submit"
													value="Continuar" />
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<!-- /Modal -->
					</div>
				</div>
			</div>
		</section>
		<!-- /Main -->
	</div>
</body>
</html>