<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar Clientes</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Lista de Clientes</h1>
   <div th:if="${#lists.isEmpty(clientes)}">
         No hay clientes en la base de datos
    </div>
   <table th:unless="${#lists.isEmpty(clientes)}" class="table table-striped">
     <thead>
       <tr>
         <th>idCliente</th>
         <th>Nombre</th>
         <th>Email</th>
         <th>Sexo</th>
         <th>Fecha de nacimiento</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="cliente: ${clientes}"> 
         <td th:text="${cliente.idCliente}"></td>
         <td th:text="${cliente.nombre}"></td>
         <td th:text="${cliente.email}"></td>
         <td th:text="${cliente.sexo}"></td>
         <td th:text="${cliente.fechaNacimiento}"></td>
         <td><a th:href="@{/cliente/update/{idCliente}(idCliente=${cliente.idCliente})}" class="btn btn-warning">Editar</a></td>
         <td><a th:href="@{/cliente/delete/{idCliente}(idCliente=${cliente.idCliente})}" class="btn btn-danger">Borrar</a></td>
       </tr>
     </tbody>
   </table>
   <a href="add.html" class="btn btn-success">Añadir cliente</a> 
</body>
</html>
