body {
	background-color: #f0f0f0;
	font-size: 15px;
}

@media only screen and (min-width: 991px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav1 .nav-link {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.nav1 li:first-child {
    padding-left: 40px;
}

.nav1 li > a:hover {
    background: rgba(255, 255, 255, .2);
    color: #fff;
}

.navbar-nav .btn {
    color: white !important;
}

.nav-item .btn {
    width: 140px;
}

.dropdown a:hover {
    background-color: rgba(0, 0, 0, .2)
}

#breadcrumb {
    height: 50px;
    background-color: #e9ecef !important;
}

.breadcrumb {
    padding-bottom: 0px;
    margin-bottom: 12px;
}

#footer {
    width: 100%;
    padding: 5px;
    background-color: #efefef;
}