body {
	background-color: #f0f0f0;
}
.dropdown-menu {
	background-color: #343a40;
}
.nav1 .dropdown:hover > .dropdown-menu {
	display: block;
}
.dropdown-item {
	color: rgba(255, 255, 255, .5);
}
.dropdown-item:hover {
    background: rgba(255, 255, 255, .2);
    color: #fff;
}
#main {
	margin-top: 30px;
	margin-bottom: 30px;
}