.titulo_form {
	background-color: #f8f9fa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1.5px solid #dee2e6;
    border-bottom: none;
    padding: .95rem;
}
.table {
	background-color: #fff;
}
.header-title {
    font-size: 22px;
    font-weight: bold;
    color: #343a40;
}

.tbl-header {
    background-color: #fdfdfd;
}

.tbl-header th:last-child {
    width: 350px;
}

.body-wrapper {
    background-color: #fff;
    border: 1.5px solid #dee2e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.empty {
	padding: 1rem;
}

.table {
	margin-bottom: 0;
}

.table thead th {
	border-bottom: none;
	font-size: 17px;
}

.table tbody tr {
	height: 70px;
	line-height: 3.3rem;
}

tr td:last-child {
    text-align: right;
}