body {
    background-color: #f9f9f9;
    margin-bottom: 50px;
    overflow: hidden;
}

@media only screen and (max-height: 600px) {
    body {
        overflow: visible;
    }
    
    .main-section {
        margin-top: 110px !important;
    }
}

#header a {
    color: white;
}

.main-section {
    margin: 0 auto;
    padding: 0;
}

.modal-content {
    background-color: #343a40;
    padding: 0 18px;
    padding-bottom: 18px;
    border-radius: 10px;
}

.user-icon img {
    filter: invert(100%);
    height: 120px;
    width: 120px;
}

.user-icon {
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
}

.img-wrapper {
    background-color: white;
}

.img-wrapper img {
    height: 28px;
    width: 28px;
}

.img-wrapper2 {
    background-color: white;
}

.form-input button {
    width: 40%;
    margin: 5px 0 25px;
}

.forgot {
    padding: 5px 0 15px;
}

.forgot a {
    color: white;
}

#footer {
    width: 100%;
    padding: 5px;
    background-color: #efefef;
}