<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nueva acreditacion</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nueva Acreditacion</h2>
    <form action="#" th:action="@{/acreditacion/add}"
                     th:object="${acreditacion}" method="post">
      <table>
        <tr>
            <td><label>idAcreditacion</label></td>
            <td><input type="number" th:field="*{idAcreditacion}" /></td>
        </tr>
        <tr>
            <td><label>Certificado</label></td>
            <td><input type="text" th:field="*{certificado}" /></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{estado}" >
					<option value="aceptada">Aceptada</option>
					<option value="rechazada">Rechazada</option>
		    	</select>
        </tr>
        <tr>
            <td><label>idInstructor</label></td>
            <td><input type="text" th:field="*{idInstructor}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir Acreditacion" /></td>
        </tr>
      </table>
    </form>
</body>
</html>