<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar Instructores</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Lista de Acreditaciones</h1>
   <div th:if="${#lists.isEmpty(acreditaciones)}">
         No hay Acreditaciones en la base de datos
    </div>
   <table th:unless="${#lists.isEmpty(acreditaciones)}" class="table table-striped">
     <thead>
       <tr>
         <th>idAcreditacion</th>
         <th>certificado</th>
         <th>estado</th>
         <th>idInstructor</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="acreditacion: ${acreditaciones}"> 
         <td th:text="${acreditacion.idAcreditacion}"></td>
         <td th:text="${acreditacion.certificado}"></td>
         <td th:text="${acreditacion.estado}"></td>
         <td th:text="${acreditacion.idInstructor}"></td>
         <td><a th:href="@{/acreditacion/update/{idAcreditacion}(idAcreditacion=${acreditacion.idAcreditacion})}" class="btn btn-warning">Editar</a></td>
         <td><a th:href="@{/acreditacion/delete/{idAcreditacion}(idAcreditacion=${acreditacion.idAcreditacion})}" class="btn btn-danger">Borrar</a></td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success">Añadir Acreditacion</a> 
</body>
</html>